// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr {
	width: 35%;
	margin: 0.5em auto 1em;
}

.table {
	margin-top: 20px;
}