<!DOCTYPE html>
<html>
<head>
	<title>Sample Bookstore</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class='container'>
		<h1 class="text-center">My Sample Bookstore</h1>
		<hr>
		<%= yield %>
	</div>

</body>
</html>
